@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HEADER */
header {
    border: 0;
    background-color: bisque;
    height: 5rem;
    position: relative;
}

/* .nav_bar {
    position: fixed;
    z-index: 99;
    background-color: bisque;
    width: 100vw;
} */
header .logo {
    height: 48px;
    width: 80px;
    position: relative;
    left: 40px;
    top: 5px;
    object-fit: contain;
}

.logo img {
    width: 70%;
}

.logo p {
    position: relative;
    bottom: 9px;
    font-weight: 700;
    left: -10px;
}

header .nav_bar .ul-items {
    position: relative;
    display: flex;
}

.nav_bar .list-items:hover {
    border-bottom: 1px solid #000;
}

.nav_bar .search_input:hover,
.nav_bar .search:hover {
    border: 0;
}

.list-items {
    position: relative;
    text-decoration: none;
    list-style: none;
    margin-right: 40px;
    left: 600px;
    top: -20px;
}

a {
    text-decoration: none;
    color: black;
}

.nav_bar input {
    position: relative;
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.nav_bar .search_input {
    position: relative;
    top: -23px;
}

.search {
    position: relative;
    background: white;
    height: 30px;
    width: 30px;
    top: -23px;
    border-radius: 0px 5px 5px 0px;
    left: 561px;
    border-left: 1px solid #000;
    cursor: pointer;
}

.fa-magnifying-glass {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

/*SUBMENU*/
.shop-submenu {
    z-index: 10;
}

.shop-submenu2 {
    z-index: 10;
}

.shop-submenu3 {
    z-index: 10;
}

.shop-submenu {
    position: absolute;
    top: 30px;
    background-color: white;
    padding: 10px;
    list-style: none;
    display: none;
    width: 130px;
    font-family: Helvetica, sans-serif;
}

.shop-submenu ul {
    list-style: none;
}

.shop-submenu li {
    margin-bottom: 5px;
    border-top: 1px solid black;
    padding: 2px;
}

.shop-submenu li:first-child {
    border: none;
}

.shop:hover .shop-submenu {
    display: block;
    position: absolute;
}

.shop-submenu2 {
    position: absolute;
    top: 30px;
    background-color: white;
    padding: 10px;
    list-style: none;
    display: none;
    width: 130px;
    font-family: Helvetica, sans-serif;
}

.shop-submenu2 ul {
    list-style: none;
}

.shop-submenu2 li {
    margin-bottom: 5px;
    border-top: 1px solid black;
    padding: 2px;
}

.shop-submenu2 li:first-child {
    border: none;
}

.shop:hover .shop-submenu2 {
    display: block;
    position: absolute;
    left: 130px;
}

.shop-submenu3 {
    position: absolute;
    top: 30px;
    background-color: white;
    padding: 10px;
    list-style: none;
    display: none;
    width: 130px;
    font-family: Helvetica, sans-serif;
}

.shop-submenu3 ul {
    list-style: none;
}

.shop-submenu3 li {
    margin-bottom: 5px;
    border-top: 1px solid black;
    padding: 2px;
}

.shop-submenu3 li:first-child {
    border: none;
}

.shop:hover .shop-submenu3 {
    display: block;
    position: absolute;
    left: 260px;
}

body {
    background-color: #f2f2f2;
}

/* IMAGE */
.images img {
    position: relative;
    width: 200px;
    border: none;
    border-bottom: 1px solid #000;
    box-shadow: 0px 0px 4px 0px;
    margin-top: 5vh;
}

.column-2 {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 40px;
    justify-content: center;
    margin: auto;
    position: relative;
    left: 50%;
    top: -20px;
}

.images {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 40px;
    margin: auto;
    justify-content: center;
    top: 20px;
    position: relative;
}

.images span {
    font-size: 20px;
    font-weight: 700;
}

.images p {
    font-style: italic;
}


footer {
    display: flex;
    position: relative;
    gap: 150px;
    top: 100px;
    background-color: #b5b5b5;
    padding: 30px;
    height: 500px;
}
.location p {
    margin-left: 20px;
}
.mxh .icons {
    margin-top: 15px;
    
}
.mxh i {
    margin-right: 7px;
    cursor: pointer;
    margin-bottom: 40px;
}
.mxh li {
    margin-left: 25px;
    cursor: pointer;
}

.copyright {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999;
    width: 100vw;
    top: 50px;
    height: 50px;
    left: -35%;    
}
#copyright {
    position: relative;
    left: -3%;
    font-style: italic;
}
.copyright .line {
    position: relative;
    border-bottom: 1px solid rgb(75, 73, 73);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
    width: 90%;
    top: -10px;
    height: 50px;
    left: 29%;
} 
h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}